*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
}

.header{
  height: 100px;
  background: #181818	;
  padding: 0 20px;
  color: #990000;

}

.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.menu{
  float: right;
  line-height: 100px;
}

.menu a{
  color: #990000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.show-mbtn,.hide-mbtn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-mbtn{
  float: right;
}

.show-mbtn i{
  line-height: 100px;
}

.menu a:hover,.show-mbtn:hover,
.hide-mbtn:hover{
  color: #808080;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}

.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}

.content p{
  text-align: justify;
}

@media screen and (max-width:800px){
  .show-mbtn,.hide-mbtn{
    display: block;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #181818;
    left: 100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .hide-mbtn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked ~ .menu{
    left:0;
  }
}
